#octopus {
  margin: auto;
  margin-top: 6%;
  width: 10%;
  padding-top: -60px;
  z-index: -1;
}

#hat {
  position: absolute;
  padding-left: 43%;
  top: 20px;
}

#glasses {
  position:absolute;
  top: 185px;
  padding-left: 675px;
}
